.title{
    font-size: 1.8em;
    color: #ffffff;
}

.fa-long-arrow-left:before {
    content: "\f177";
}

.white span{
    color: #ffffff;
}

.btn-refresh{
    text-align: right;
}

.btn-back{
    margin-top: -5px;
    position: absolute;
    right: 15px;
}

.btn-back span,
.btn-refresh span{
    border: 1px solid #ffffff;
}

.label-green label{
    font-weight: bold !important;
    color: green;
}

.label-red label{
    font-weight: bold !important;
    color: red;
}

.header-table{
    background-color: #0078ae !important;
    color: #ffffff !important;
}

/*---------------------------  CSS overAll.xhtml  ---------------------------------*/

table.table-home tbody tr:nth-child(2) td:first-child div{
    margin-left: -7px;
}

.table-home{
    width: 100%;
    padding-bottom: 10px;
}

table.table-home tr:first-child td:first-child{
    width: 25%;
}

table.table-home tr:first-child td:first-child img{
    width: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

table.table-home tr:first-child,
table.table-home tr:nth-child(2),
table.table-home tr:nth-child(3),
table.table-home tr:nth-child(4){
    text-align: center;
}

table.table-home tr:nth-child(2) td:first-child label{
    margin-left: 15px;
}

table.table-home tr:nth-child(2) td:nth-child(2){
    text-align: center;
}

table.table-home tr:nth-child(2) td:first-child img{
    width: 30%;
    margin-left: 18px;
    margin-top: -5px;
}

table.table-home tr:nth-child(3) td:first-child label, table.table-home tr:nth-child(4) td:first-child label{
    margin-left: 10px;
    font-size: 10px;
}

table.table-home tr:nth-child(3) td:nth-child(2) label,
table.table-home tr:nth-child(3) td:nth-child(3) label,
table.table-home tr:nth-child(4) td:nth-child(2) label,
table.table-home tr:nth-child(4) td:nth-child(3) label{
    font-size: 10px;
}

.div-home {
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 10px;
    float: left;
}

.div-home img:nth-child(2){
    width: 30%;
    margin-left: 18px;
    margin-top: -5px;
}

@media only screen and (max-width: 370px){
    .Container33 div:first-child{
        width: 40% !important;
    }

    .ui-selectonemenu .ui-selectonemenu-label{
        font-size: 0.7em !important;
    }

    .ui-outputlabel{
        font-size: 0.7em !important;
    }

    .div-home {
        width: 46% !important;
        margin-left: 2% !important;
    }
}

@media only screen and (min-width: 371px) and (max-width: 550px) {
    .Container33 div:first-child{
        width: 50% !important;
    }

    .ui-selectonemenu .ui-selectonemenu-label{
        font-size: 0.9em !important;
    }

    .div-home {
        width: 46% !important;
        margin-left: 2% !important;
    }

    table.table-home tr:nth-child(3) td:nth-child(2) label,
    table.table-home tr:nth-child(3) td:nth-child(3) label,
    table.table-home tr:nth-child(4) td:nth-child(2) label,
    table.table-home tr:nth-child(4) td:nth-child(3) label{
        font-size: 0.8em !important;
    }

    table.table-home tr:nth-child(3) td:first-child label, table.table-home tr:nth-child(4) td:first-child label{
        font-size: 0.8em !important;
    }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
    .Container33 div:first-child{
        width: 65% !important;
    }

    .ui-selectonemenu .ui-selectonemenu-label{
        font-size: 0.9em !important;
    }

    table.table-home tbody tr:nth-child(2) td:first-child div:first-child{
        margin-left: -7px;
    }

    .div-home {
        width: 40% !important;
        margin-left: 6% !important;
    }

    table.table-home tr:nth-child(3) td:nth-child(2) label,
    table.table-home tr:nth-child(3) td:nth-child(3) label,
    table.table-home tr:nth-child(4) td:nth-child(2) label,
    table.table-home tr:nth-child(4) td:nth-child(3) label{
        font-size: 1em !important;
    }

    table.table-home tr:nth-child(3) td:first-child label, table.table-home tr:nth-child(4) td:first-child label{
        font-size: 1em !important;
    }
}

@media only screen and (min-width: 801px)  {
    .Container33 div:first-child{
        width: 75% !important;
    }

    .ui-selectonemenu .ui-selectonemenu-label{
        font-size: 15px !important;
    }

    table.table-home tbody tr:nth-child(2) td:first-child div:first-child{
        margin-left: -7px;
    }

    .div-home {
        width: 40% !important;
        margin-left: 6% !important;
    }

    table.table-home tr:nth-child(3) td:nth-child(2) label,
    table.table-home tr:nth-child(3) td:nth-child(3) label,
    table.table-home tr:nth-child(4) td:nth-child(2) label,
    table.table-home tr:nth-child(4) td:nth-child(3) label{
        font-size: 1em !important;
    }

    table.table-home tr:nth-child(3) td:first-child label, table.table-home tr:nth-child(4) td:first-child label{
        font-size: 1em !important;
    }
}
/*-------------------------------------------------------------------------------------------*/

/*---------------------------  CSS OTP.xhtml  ---------------------------------*/
/*.ui-datatable-tablewrapper{*/
    /*margin-top: -10px !important;*/
/*}*/

/*.ui-datatable,*/
.ui-scrollpanel{
    border-color: #0292c7 !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 370px){

    /*.otp-table table thead tr th,{*/
        /*font-size: 10px !important;*/
    /*}*/

    .otp-table table thead tr th,
    .otp-table table tfoot tr td,
    .otp-table table thead tr th {
        font-size: 10px !important;
    }

    .otp-table table thead tr th:first-child{
        width: 25% !important;
    }

    /*.otp-table table thead tr th:nth-child(2){*/
        /*width: 41% !important;*/
    /*}*/

    .otp-table table tbody tr td {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 371px) and (max-width: 550px) {
    .otp-table table thead tr th,
    .otp-table table tfoot tr td,
    .otp-table table thead tr th {
        font-size: 12px !important;
    }

    .otp-table table tbody tr td {
        font-size: 12px !important;
    }

    .otp-table table thead tr th:first-child{
        width: 25% !important;
    }

    /*.otp-table table thead tr th:nth-child(2){*/
        /*width: 45% !important;*/
    /*}*/
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
    .otp-table table thead tr th:first-child{
        width: 20% !important;
    }
}

@media only screen and (min-width: 801px)  {

}
/*-------------------------------------------------------------------------------------------*/

/*---------------------------  CSS Rework.xhtml  ---------------------------------*/
/*.ui-datatable-tablewrapper{*/
/*margin-top: -10px !important;*/
/*}*/

/*.ui-datatable,*/
.ui-scrollpanel{
    border-color: #0292c7 !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 370px){
    .rework-table table thead tr th,
    .rework-table table tfoot tr td,
    .rework-table table thead tr th {
        font-size: 10px !important;
    }

    .rework-table table thead tr th:first-child{
        width: 25% !important;
    }

    .rework-table table tbody tr td {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 371px) and (max-width: 550px) {
    .rework-table table thead tr th,
    .rework-table table tfoot tr td,
    .rework-table table thead tr th {
        font-size: 12px !important;
    }

    .rework-table table tbody tr td {
        font-size: 12px !important;
    }

    .rework-table table thead tr th:first-child{
        width: 25% !important;
    }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
    .rework-table table thead tr th:first-child{
        width: 20% !important;
    }
}

@media only screen and (min-width: 801px)  {

}
/*-------------------------------------------------------------------------------------------*/

/*---------------------------  CSS Rework.xhtml  ---------------------------------*/
/*.ui-datatable-tablewrapper{*/
/*margin-top: -10px !important;*/
/*}*/

/*.ui-datatable,*/
.ui-scrollpanel{
    border-color: #0292c7 !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 370px){
    .outstading-table table thead tr th,
    .outstading-table table tfoot tr td,
    .outstading-table table thead tr th {
        font-size: 10px !important;
    }

    .outstading-table table thead tr th:first-child{
        width: 25% !important;
    }

    .outstading-table table tbody tr td {
        font-size: 10px !important;
    }
}

@media only screen and (min-width: 371px) and (max-width: 550px) {
    .outstading-table table thead tr th,
    .outstading-table table tfoot tr td,
    .outstading-table table thead tr th {
        font-size: 12px !important;
    }

    .outstading-table table tbody tr td {
        font-size: 12px !important;
    }

    .outstading-table table thead tr th:first-child{
        width: 25% !important;
    }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
    .outstading-table table thead tr th:first-child{
        width: 20% !important;
    }
}

@media only screen and (min-width: 801px)  {

}
/*-------------------------------------------------------------------------------------------*/

 /*---------------------------  CSS brealDown.xhtml  ---------------------------------*/
@media only screen and (max-width: 530px) {
    .break-down div.ui-datatable-tablewrapper table thead:first-child tr th,
    .break-down div.ui-datatable-tablewrapper table tbody tr td,
    .break-down div.ui-datatable-tablewrapper table tfoot tr td{
        font-size: 5px !important;
    }

    .break-down div.ui-datatable-tablewrapper table thead:first-child tr:first-child th:first-child{
        width: 15%;
    }

    .break-down div.ui-datatable-tablewrapper table thead:first-child tr:first-child th:nth-child(2){
        width: 85%;
    }

    .break-down div.ui-datatable-tablewrapper table thead:first-child tr:nth-child(4){
        font-size: 3px !important;
    }

    .table-header-rotated th.rotate-45 > div{
        position: relative;
        top: 0px;
        height: 100%;
        overflow: hidden;
    }

    .break-down div.ui-datatable-tablewrapper table tbody tr td{
        padding: 6px 0px !important;
    }

    .table-header-rotated th.rotate-45 span {
        -ms-transform:skew(45deg,-45deg) rotate(315deg);
        -moz-transform:skew(45deg,-45deg) rotate(315deg);
        -webkit-transform:skew(45deg,-45deg) rotate(315deg);
        -o-transform:skew(45deg,-45deg) rotate(315deg);
        transform:skew(45deg,-45deg) rotate(315deg);
        left: 40%; /*Because it looked good, but there is probably a mathematical link here as well*/
        display: flex;
    }

    .display-max-520{
        display: table-row;
    }

    .display-over-520{
        display: none;
    }
}

@media only screen and (min-width: 531px) and (max-width: 700px){
    .display-max-520{
        display: none;
    }

    .breakdown-table table thead tr th,
    .breakdown-table table tfoot tr td,
    .breakdown-table table thead tr th {
        font-size: 8px !important;
    }

    .display-over-520{
        display: table-row;
    }
}

@media only screen and (min-width: 701px) {
    .display-max-520{
        display: none;
    }

    .breakdown-table table thead tr th,
    .breakdown-table table tfoot tr td,
    .breakdown-table table thead tr th {
        font-size: 12px !important;
    }

    .display-over-520{
        display: table-row;
    }
}
 /*-------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 800px) {
    .ui-panel .ui-panel-content.ui-widget-content{
        -webkit-transition: all 1s ease;
        -moz-transition: 1s ease;
        transition: 1s ease;
    }

    .table-header-rotated th.row-header{
        width: auto;
    }

    .table-header-rotated td{
        width: 40px;
        border-top: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        vertical-align: middle;
        text-align: center;
    }

    .table-header-rotated th.rotate-45{
        /*height: 65px;*/
        width: 40px;
        min-width: 40px;
        max-width: 40px;
        position: relative;
        vertical-align: bottom;
        padding: 0;
        font-size: 12px;
        line-height: 10;
    }
}

@media only screen and (min-width: 801px) and (max-width: 3000px) {
    .ui-widget-content td img,
    .imageTotalOtp img{
        width: 10% !important;
    }

    .ui-datatable table tbody tr td{
        font-size: 18px !important;
    }

    .ui-datatable table thead tr th, .ui-datatable table tfoot tr td, .ui-datatable table thead tr th{
        font-size: 18px !important;
    }
}

.ui-widget-content td img,
.imageTotalOtp img{
    width: 20%;
}

.ui-button-text{
    background-color: #ffffff;
    color: #000000;
}

.loginfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 85%
}

.loginfooter img{
    width: 10%;
}

.ui-clock{
    background-color: transparent;
}

.login div:first-child{
    text-align: center;
}

.login div:first-child img{
    width: 20%;
}

.div-box-login{
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: #0292c7;
    width: 30%;
    margin-left: 35%;
}

.div-box-login div:first-child{
    text-align: center;
    padding: 15px;
    color: #ffffff;
}

.div-box-login div:nth-child(2),
.div-box-login div:nth-child(3),
.div-box-login div:nth-child(4){
    padding-bottom: 10px;
    margin: 5px;
}


@media (max-width: 1014px) {
    .login div:first-child img{
        width: 50%;
        margin-top: 25%;
    }

    .div-box-login{
        width: 100%;
        margin-left: 0;
    }

    .loginfooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-left: 75%
        /*text-align: right;*/
    }

    .loginfooter img{
        width: 20%;
    }
}



.border-OTP{
    border: 1px solid #2580c2;
}

.font-OTP{
    color: #2580c2 !important;
    font-weight: bold !important;
}

.border-Rework{
    border: 1px solid #f09148;
}

.font-Rework{
    color: #f09148 !important;
    font-weight: bold !important;
}

.border-Break-Down{
    border: 1px solid #e65cd1;
}

.font-Break-Down{
    font-size: 13px;
    color: #e65cd1 !important;
    font-weight: bold !important;
}

.ui-clock{
    background-color: transparent !important;
}

.border-Repair{
    border: 1px solid #5cb800;
}

.font-Repair{
    color: #5cb800 !important;
    font-weight: bold !important;
}

.font-Best-Green td label{
    color: green !important;
}

.font-Best-Red td label{
    color: red !important;
}

.font-Worst-Green td label{
    color: green !important;
}

.font-Worst-Red td label{
    color: red !important;
}

.red{
    background-color: red !important;
    color: #ffffff !important;
}

.green{
    background-color: green !important;
    color: #ffffff !important;
}